In [14]:
import numpy as np
import pandas as pd
from numpy import random

In [15]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [18]:
df = pd.DataFrame(random.randn(6,2),hier_index,['A','B'])

In [19]:
df

             A         B
G1 1  1.628168  0.863916
   2 -2.324142 -0.877538
   3 -0.134154  0.724770
G2 1 -1.101448  1.702225
   2  0.718498  0.587913
   3  0.440040  0.186817

In [23]:
df.loc['G1'].loc[1]

A    1.628168
B    0.863916
Name: 1, dtype: float64

In [25]:
df.index.names = ['Groups', 'Num']

In [26]:
df

                   A         B
Groups Num
G1     1    1.628168  0.863916
       2   -2.324142 -0.877538
       3   -0.134154  0.724770
G2     1   -1.101448  1.702225
       2    0.718498  0.587913
       3    0.440040  0.186817

In [30]:
df.loc['G2'].loc[2]['B']

0.587913014971268

In [31]:
df.loc['G2'].loc[1]['B']

1.702225169477779

In [32]:
df

                   A         B
Groups Num
G1     1    1.628168  0.863916
       2   -2.324142 -0.877538
       3   -0.134154  0.724770
G2     1   -1.101448  1.702225
       2    0.718498  0.587913
       3    0.440040  0.186817

In [36]:
df.xs(1, level = 'Num')

               A         B
Groups
G1      1.628168  0.863916
G2     -1.101448  1.702225

In [38]:
df.xs(2, level = 'Num')

               A         B
Groups
G1     -2.324142 -0.877538
G2      0.718498  0.587913